@{
    ViewData["Title"] = "Home Page";
}

<html>
<head>
    <script src="~/plugins/jQuery/jquery-3.3.1.min.js"></script>
    <script src="~/js/Home.js"></script>
</head>
<body class="container-fluid">
    <header id="main-header">
        "TEXT TEXT TEXT"
    </header>
    <section id="main-container" class="row">
            <div id="indb-api-container" class="md-col-12"></div>
            <iframe width="560" height="315" src="https://www.youtube.com/embed/C5b1ezNRW2Y" frameborder="0" allow="autoplay; encrypted-media" allowfullscreen></iframe>
            <div id="map"></div>
    </section>
</body>
</html>