@{
    ViewData["Title"] = "About";
}
<h2>@ViewData["Title"]</h2>
<h3>@ViewData["Message"]</h3>

<p>
    This website is our final project in the class "Web Applications Development".
    "Statler & Waldorf" is a site that using a database, holds reviews for movies.

    HOW THINGS WORK?
    In our website, everyone who is registered can post a review for a certain movie, while using an algorithm, we search for "bad words" and block the reviews that include does.
    Some users are set as "Admin" which gives them extra actions like adding a movie to the system, view all the blocked reviews and unblock some of them (if it was a context problem) and more.

    We put in a lot of effort to give you the best service we can.
    Thank you for visiting our website!
</p>
