@model StatlerAndWaldorf.Models.Movies

@{
    ViewData["Title"] = "Create";
    Layout = "~/Views/Shared/_MoviesLayout.cshtml";
}


<section class="row" id="add-movie-container">
    <div class="col-xs-12 col-xs-md" id="current-add-movie">
        <form asp-action="AddMovie">
            <h2>Add new movie</h2>
            <label>
                Movie title:
            </label>
            <div>
                <input asp-for="Title" type="text" class="form-control movie-input" required>
                <span asp-validation-for="Title" class="text-danger"></span>
            </div>
            <label>
                Movie genre:
            </label>
            <div>
                <select asp-for="Genre" class="custom-select d-block w-100 movie-input" required>
                    <option value="hidden">Please select movie genre</option>
                    <option value="Drama">Drama</option>
                    <option value="Comedy">Comedy</option>
                    <option value="Horror">Horror</option>
                    <span asp-validation-for="Genre" class="text-danger"></span>
                </select>
            </div>
            <label>
                Release date:
            </label>
            <div>
                <input asp-for="ReleaseDate" type="date" id="ReleaseDate" name="ReleaseDate" class="form-control movie-input"></input>
                <span asp-validation-for="ReleaseDate" class="text-danger"></span>
            </div>
            <label>
                Movie Length (minutes):
            </label>
            <div>
                <input asp-for="Length" class="form-control" />
                <span asp-validation-for="Length" class="text-danger"></span>
            </div>
            <div id="formBtns">
                <input type="submit" id="send" value="Send" class="btn btn-raised btn-primary">
                <input type="reset" id="cancel" value="Clear" class="btn btn-raised btn-secondary">
            </div>
        </form>
    </div>

</section>


@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
