@model StatlerAndWaldorf.DTO.RegisterDTO

@{
    ViewData["Title"] = "Signup";
}

<h2>Sign Up</h2>

<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Signup">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label>Email</label>
                <input asp-for="email" class="form-control" type="email" required />
                <span asp-validation-for="email" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label>Password</label>
                <input asp-for="password" class="form-control" type="password" required />
                <span asp-validation-for="password" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label>First Name</label>
                <input asp-for="firstName" class="form-control" required />
                <span asp-validation-for="firstName" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label>Last Name</label>
                <input asp-for="lastName" class="form-control" required />
                <span asp-validation-for="lastName" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label>Country</label>
                <input asp-for="country" class="form-control" required />
                <span asp-validation-for="country" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Sign up" class="btn btn-default" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Login">Back to login</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
