body {
    margin: 0px;
    padding: 0px;
}
body *{
        font-family: Arial;
}
header#main-header, footer {
    height: 150px;
    line-height: 150px;
    background-color: rgba(0.2,0.2,0.2,0.6);
    text-align: center;
    font-size: 32px;
    text-shadow: 2px 2px #fff;
    margin-top: 50px;
}
footer {
    height: 100px;
    line-height: 100px;
}
#main-container{
    min-height:500px;
}
div{
    height: 100px;
    background-color:  blue;
}
div:first-child {
    background-color: green;
}